# Configuración de Base de Datos
DB_USER=zepol_user
DB_PASSWORD=zepol_password
DB_NAME=zepol_erp

# Puerto de la API
API_PORT=3000

# URL de conexión para Prisma (Usada de forma LOCAL fuera de Docker para migraciones)
DATABASE_URL="postgresql://zepol_user:zepol_password@localhost:5432/zepol_erp?schema=public"
